/.vscode
/__pycache__
/plots
tensorboard_logs
tsb_*
models_*
*.pyc
dqn_tsc_models
ppo_tsc_models
ppo_tsc_models*
eval_results
expert_function_cache*
ashrae-energy*
expert_feat_extractor_archive
expert_function_cache
expert_extractor_cache
lgbm_debug_no_ids
submissions

out.txt
memo.txt
**/energy_prediction/results/

*.ftr

top_solutions